# Ignore all files by default
*

# Allow specific directories and files
!Core/Inc/
!Core/Inc/*.h
!Core/Inc/*.hpp
!Core/Src/
!Core/Src/*.c
!Core/Src/*.cpp

# Ignore build, IDE, and configuration files
Debug/
Drivers/
.settings/
.cproject
.mxproject
.project
*.launch
*.ld
*.ioc
*.elf
*.bin
*.hex

